body{
   margin: 0;
   padding: 0;
   font-family: Myriad Pro, Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 24px;
}

.main{
   margin-left: auto;
   margin-right: auto;
   width: 750px;
   min-height: 700px;
   background-image: url(img/room.jpg);
   background-repeat: no-repeat ;
   background-position: center 240px;  
}

header{
   background-color: #2D7053;
   display: block;
   min-height: 240px;
}

.logo{
   width: 144px;
   height: 144px;
   display: inline-block;
   margin-left: 36px;
   margin-top: 46px;
   background-color: #ffffff;
   border-radius: 50%;
}

.logo__name {
   color: #ffffff;
   text-transform: capitalize;
   font-size: 30px;
   display: inline-block;
   max-width: 131px;
   padding-left: 57px;
}

.menu {
   display: inline-block;
   float: right;
   padding-top: 83px;
   padding-right: 44px;
}

.rectangule {
   background-color: #fff;
   height: 12px;
   width: 87px;
   margin-top: 16px;
   border-radius: 6px;
}

.btn1 {
   background-color: #cb9223;
   font-size: 24px;
   text-transform: uppercase;
   color: #ffffff;
   padding:30px 47px;
   border: none;
   outline: none;
   display: inline-block;
   margin-top: 342px;
   margin-left: 205px;
}

.therapist__photo{
   margin-top: 120px;
}

#photo1{
   height: 250px;
   width: 250px;
   margin-left: 45px;
   border-radius: 50%;
   display: inline-block;
}

.therapist{
   display: inline-block;
   float: right;
   padding-top: 60px;
   padding-right: 140px;
   max-width: 260px;  
}

.therapist__name{
   font-weight: bold;
   font-size: 36px;
   text-transform: capitalize;
}

.resume{
   display: block;
   margin-top: 60px;
   margin-left: 45px;
   max-width: 590px;
}

.list{
   margin-top: 50px;
   margin-left: 45px;
}

ul {
   list-style: none;
   padding-left: 5px;
   margin-block-end: 0em;
}

ul li:before {
   content: "-";
   position: relative;
   left: -5px;
}

.btn2{
   background-color: #cb9223;
   font-size: 24px;
   margin-top: 50px;
   text-transform: uppercase;
   color: #ffffff;
   padding:30px 47px;
   border: none;
   outline: none;
   display: inline-block;
   margin-left: 220px;
   
}

footer {
   display: block;
   background-color: #888888;
   font-size: 18px;
   color: #ffffff;
   margin-top: 50px;
   padding-top: 30px;
   min-height: 150px;
}

.logo2{
   display: inline-block;
   width: 100px;
   height: 100px;
   background-color: #ffffff;
   border-radius: 50%;
   margin-left: 45px;
}

.address {
   display: inline-block;
   padding-left: 180px;
   padding-top: 100px;
}

.contacts {
   display: inline-block;
   padding-left: 40px;
}