@font-face {
   font-family: MinionPro, serif;
   font-style: bold;
   src: url('fonts/MinionPro-Bold.ttf'), url('fonts/MinionPro-Bold.eot');
    }

@font-face {
  font-family: MinionPro, serif;
  src: url('fonts/MinionPro-Regular.ttf'), url('fonts/MinionPro-Regular.eot');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}


a {
  text-decoration: none;
}
  
li {
  list-style: none;
}

/*HEADER*/

header {
  background-color: #8C0A0D;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 1300px;
  height: 100%;
  background: url(img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
}

.logo {
  display: block;
  float: left;
  width: 175px;
  height: 40px;
  margin: 15px 0px 15px 68px;
}

nav {
  display: inline-block;
  margin: 39px 0px 22px 125px;
}

.nav__item {
  display: inline-block;
  text-transform: uppercase;
  font-family: MinionPro, serif;
  font-style: bold;
  font-size: 14px;
  color: #FCC57E;
  padding-left: 30px;
}

.language {
  float: right;
  margin: 38px 67px 21px 0;
  font-family: MinionPro, serif;
  font-style: bold;
  font-size: 14px;
  color: #FCC57E;

}

/*MAIN CONTENT*/

.company {
  margin: 25px auto 0 auto;
  background-image: url(img/factory.png);
  width: 1170px;
  height: 335px;
  border: #35040C solid 4px;
}

h1 {
  font-family: MinionPro, serif;
  font-size: 60px;
  font-weight: 200;
  color: #35040C;
  display: block;
  margin-left: 355px;
}

.opensans {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  color: #35040C;
}

.btn1 {
  margin-left: 409px;
  margin-top: 23px;
  height: 50px;
  width: 205px;
  border-radius: 10px;
  background-color: #F6CC79;
  box-shadow: 0 -6px #BF670D inset;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 8px;
  cursor: pointer;
}

#left {
  display: block;
  float: left;
  margin: 70px 0px 125px 28px;
}

#right {
  display: block;
  float: right;
  margin: 70px 28px 125px 0px;
}

.slider {
  margin-top: 154px;
  margin-left: 470px;
  display: inline-block;
}

.circle, #circle__orange {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  background-color: #ffffff;
}

#circle__orange {
  background-color: #BF670D;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
}

.article {
  width: 24.5%;
  line-height: 24px;
}

.article__head {
  font-size: 18px;
  font-weight: 700;
  color: #060606;
  padding-bottom: 18px;
  min-height: 90px;
}

.article__content {
  font-size: 16px;
  display: inline-block;
  text-align: left;
}

/*Footer*/

footer {
  background-color: #8C0A0D;
  font-size: 14px;
  font-weight: 700;
  color: #fbc86b;
}

footer a {
  color: #fbc86b;
}

.site {
  display: inline-block;
  margin-left: 68px;
  margin-top: 37px;
  margin-bottom: 18px;
}

.adress {
  display: inline-block;
  padding-left: 102px;
  padding-top: 13px;
}

.tel {
  display: inline-block;
  padding-left: 150px;
  padding-top: 13px;
}

.mail {
  display: inline-block;
  padding-left: 155px;
  padding-top: 13px;
}

.social {
  display: inline-block;
  float: right;
  padding-right: 68px;
}

.social img {
  width: 28px;
  height: 28px;
  padding-top: 22px;
}

#vk {
  padding-left: 13px;
}